---
title: Microdata and Schema.org Examples
header: Students jumping in front of Memorial Bell Tower
next: 4
page_type: itemscope itemtype="http://schema.org/ItemPage"
---

<div class="grid_5">
    <%= image_tag 'bell_tower.png', :itemprop => "image" %>
  </div>  
  <div id="metadata" class="grid_7">
    <div id="item" class="info">
      <h2>Photograph Information</h2>
      <dl>
        <!-- use for itemref
        <dt>Title</dt>
        <dd>Students jumping in front of Memorial Bell Tower</dd> -->
        
        <dt>Created Date</dt>
        <dd>circa 1981</dd>  
        
        <dt>Subjects</dt>
        <dd>
          <a href="">Buildings</a><br/>
          <a href="">Students</a><br/>
          <a href="">Universities and colleges</a>          
        </dd> 
        
        <dt>Genre</dt>
        <dd>
          <a href="">Architectural photographs</a><br/>
          <a href="">Publicity photographs</a>         
        </dd>
        
        <dt>Digital Collection</dt>
        <dd><a href="">University Archives Photographs</a></dd> 
      </dl> 
    </div><!-- item -->
    <div id="building" class="info">
      <h2>Building Information</h2>
      <dl>
        <dt>Building Name</dt>
        <dd><a href="">Memorial Tower</a></dd>   
        
        <dt>Description</dt>
        <dd>Memorial Tower honors those alumni who were killed in World War I. 
          The cornerstone was laid in 1922 and the Tower was dedicated on 
          November 11, 1949.</dd>
        
        <dt>Address</dt>
        <dd>
          2701 Sullivan Drive</br>
          Raleigh, NC 26707
        </dd>
        
        <dt>Latitude, Longitude</dt>
        <dd>35.786098, -78.663498</dd>
        
        <dt>Subjects</dt>
        <dd>
          <a href="">Towers</a>                   
        </dd> 
        
      </dl>      
    </div><!-- building -->
    <div id="source" class="info">
      <h2>Source Information</h2>
      <dl>
        <dt>Repository</dt>
        <dd><a href="">Special Collections Research Center at NCSU Libraries</a></dd>
        
        <dt>Collection</dt>
        <dd><a href="">Memorial Tower (UA023.005.063)</a></dd>
        
        <dt>Rights</dt>
        <dd>Reproduction and use of this material requires permission from 
          North Carolina State University.</dd>
      </dl>      
    </div><!-- source -->
  </div>  


