body{
  background-image: url(../images/background.png);
}
#container {width: 1000px; margin: 0 auto; padding-bottom: 25px;}
#main, #step_instructions, #microdata_items, footer {background-color:white;}

#main {border: 3px solid black; padding-bottom: 25px;}

#page_name{margin: 10px;}

img{float:left;}

dt{color: grey;}
dd{margin-left: 15px;}

footer{clear:both; padding: 10px; border: 2px dotted black;}

.fakelink {
  color:blue;
  text-decoration:underline;
}

header {
  background-color:black;
  margin-bottom:10px;
}

header a, header a:visited{
  color: white;
  padding: 10px	;
}

#microdata_items,
#step_instructions {
  margin-bottom: 20px;
  clear:both;
  border:2px dotted black;
  padding: 10px;
}

#main, #microdata_items, #step_instructions {
  margin-bottom: 10px;
}

table td {
  border: 1px solid black;
  padding: 3px;
}

code {
  color: #FF5F00;
}

blockquote {
  margin: 0 25px;
}

[itemprop] {
  outline: solid #FFF27F 2px;
}

img[itemprop] {
  outline: solid #FFF27F 2px;
}

.md {
  border: 1px solid red;
  padding: 5px;
}