img{float:left;}

dt{color: grey;}
dd{margin-left: 15px;}

footer{clear:both;}

.fakelink {
  color:blue;
  text-decoration:underline;
}

header {
  background-color: black; 
  color:white; 
  padding: 10px; 
  margin-bottom:10px;
}

header a{
  color: white !important;
}

#main {
  border: 1px solid black;
}

#microdata_items {
  clear:both;
  border: 1px dotted black;
  padding: 10px;
}

#step_instructions {
  clear:both;
  border:1px dotted black;
  padding: 10px;
}

#main, #microdata_items, #step_instructions {
  margin-bottom: 10px;
}