---
title: Microdata and Schema.org Examples
header: Microdata and Schema.org Examples 
---
<div class="grid_12">
<%= partial 'index_text' %>

<%= partial 'table_of_contents' %>

<%= partial 'links' %>
</div>
