
<div id="main" role="main" class="container_12">
<div class="grid_12">
<%= partial 'index_text' %>

<p itemscope="" itemtype="http://schema.org/Person" class="md">
  This tutorial was created by 
  <a href="http://twitter.com/#!/ronallo" itemprop="url"><span itemprop="name">Jason Ronallo</span></a>, 
  <span itemprop="jobTitle">Digital Collections Technology Librarian</span> at
  <span itemprop="affiliation" itemscope="" itemtype="Organization"><a href="http://www.lib.ncsu.edu/" itemprop="url"><span itemprop="name">North Carolina State University Libraries</span></a></span>. 
  Feel free to contact me about this tutorial or microdata and schema.org
  generally, at <span itemprop="email">jronallo@gmail.com</span>.
</p>

<%= partial 'table_of_contents' %>

<div id="links">
  <%= partial 'links' %>
</div>

<%= partial 'live_example'%>
</div>
</div>
