
<div id="main" role="main" class="container_12">
<div class="grid_12">
<%= partial 'index_text' %>

<%= partial 'table_of_contents' %>

<div id="links">
  <%= partial 'links' %>
</div>

<%= partial 'live_example'%>
</div>
</div>
